body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#F5F5F5;
}

.project-details-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
}

.project-details-content {
    padding-left: 50px;
}

.project-details-content-left {
    flex: 1;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-details-image img {
    max-width: 100%;
    height: auto;
}

.project-details-content-right {
    flex: 1;
    padding-left:20px;
}

